<!DOCTYPE html>
<html lang="en">
<head>
<!--
─▄▀▀▀▀▄─█──█────▄▀▀█─▄▀▀▀▀▄─█▀▀▄
─█────█─█──█────█────█────█─█──█
─█────█─█▀▀█────█─▄▄─█────█─█──█
─▀▄▄▄▄▀─█──█────▀▄▄█─▀▄▄▄▄▀─█▄▄▀

─────────▄██████▀▀▀▀▀▀▄
─────▄█████████▄───────▀▀▄▄
──▄█████████████───────────▀▀▄
▄██████████████─▄▀───▀▄─▀▄▄▄──▀▄
███████████████──▄▀─▀▄▄▄▄▄▄────█
█████████████████▀█──▄█▄▄▄──────█
███████████──█▀█──▀▄─█─█─█───────█
████████████████───▀█─▀██▄▄──────█
█████████████████──▄─▀█▄─────▄───█
█████████████████▀███▀▀─▀▄────█──█
████████████████──────────█──▄▀──█
████████████████▄▀▀▀▀▀▀▄──█──────█
████████████████▀▀▀▀▀▀▀▄──█──────█
▀████████████████▀▀▀▀▀▀──────────█
──███████████████▀▀─────█──────▄▀
──▀█████████████────────█────▄▀
────▀████████████▄───▄▄█▀─▄█▀
──────▀████████████▀▀▀──▄███
──────████████████████████─█
─────████████████████████──█
────████████████████████───█
────██████████████████─────█
────██████████████████─────█
────██████████████████─────█
────██████████████████─────█
────██████████████████▄▄▄▄▄█

─────────────█─────█─█──█─█───█
─────────────█─────█─█──█─▀█─█▀
─────────────█─▄█▄─█─█▀▀█──▀█▀
─────────────██▀─▀██─█──█───█
-->
    <meta charset="UTF-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gitau</title>
    <script>document.title = "Gitau | " + document.location.slice(5)</script>
    <style>
        
body {
    font-family: "DDG_ProximaNova","DDG_ProximaNova_UI_0","DDG_ProximaNova_UI_1","DDG_ProximaNova_UI_2","DDG_ProximaNova_UI_3","DDG_ProximaNova_UI_4","DDG_ProximaNova_UI_5","DDG_ProximaNova_UI_6","Proxima Nova","Helvetica Neue","Helvetica","Segoe UI","Nimbus Sans L","Liberation Sans","Open Sans",FreeSans,Arial,sans-serif;
    color: rgb(66, 66, 66);
    line-height: 1.6;
    background-color: rgb(247, 247, 247)
}
.data {
    background-color: rgb(247, 247, 247);
    border-radius: 1.2px;
    width: 44%;
    height: auto;
    margin: 0px auto;
}
#kwi {
    font-size: 1.1em;
    font-family: "DDG_ProximaNova","DDG_ProximaNova_UI_0","DDG_ProximaNova_UI_1","DDG_ProximaNova_UI_2","DDG_ProximaNova_UI_3","DDG_ProximaNova_UI_4","DDG_ProximaNova_UI_5","DDG_ProximaNova_UI_6","Proxima Nova","Helvetica Neue","Helvetica","Segoe UI","Nimbus Sans L","Liberation Sans","Open Sans",FreeSans,Arial,sans-serif;
    font-weight: normal;
    color: rgb(59, 59, 59);
    display: block;
    width: 100%;
    background: none;
    outline: none;
    border: none;
    padding: 0;
    height: 2.54545em;
    z-index: 1;
    position: relative;
    top: -1px;
    box-shadow: 0 2px 3px rgba(0,0,0,.1);
    margin-top: 100px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 4px 4px rgba(0,0,0,.11);
    box-shadow: 0 4px 4px rgba(0,0,0,.25);
    border-radius: 3px;
    border: 1px solid #e0e0e0;
    height: 50px;
    margin-bottom: 20px;
    padding: 8px;
    font-size: 18px;
    -webkit-box-shadow: 0 2px 3px rgba(0, 0, 0, 0.11);
    box-shadow: 0 2px 3px rgba(0,0,0,.15);
    background-color: #fff; 
}
.item {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: center;
    justify-content: center;
    background: #fff;
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.3);
    box-shadow: 0 1px 2px rgba(0,0,0,.3);
    border-radius: 0px;
    padding: 20px;
    margin-bottom: 30px;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    font-size: 14px;
    max-width: 100%;
    text-align: left
}
.item:hover {
    background-color: #ffff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    cursor: pointer;
}
.title {
    color: #000000;
    text-decoration: none;
    margin: 0px;
    text-decoration: underline;
    font-weight: bold;
}
#blackBar{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:55px;
    background-color:#24292E;
}
html{
    height:2000px;
}
.gitau {
    color: white;
    text-decoration: none;
    margin-top: 5px;
}
    </style>
</head>
<body>
    <div id="blackBar">
        <img src="{{ url_for('static', filename='stylesheets\logo.png') }}" alt="">
    </div>
    <center>
        <div class="data">
            <form action="search" method="post">
                <input type="text" id="kwi" name="kw" autocomplete="off">
            </form><br>
            <script>
$('#kwi').change(function() 
{
        var select_box_one_value = $(this).val();
});

$.ajax
({
       type: "POST",
       url: HOST + "/path/to_your_controller_function",
       data: 'data_of_select_box='+select_box_one_value,
       cache: false,
       success: function(msg)
       {
       }
});
            </script>
            {% if results %}
            {% for r in results %}
            <div onclick="window.open('{{ r['link'] }}', '_blank');" target="_blank" style="cursor:pointer;" class="item">
                <p class="title" >{{ r['name'] }}</p>
                {{ r['description'] }}
            </div>
            {% endfor %}
            {% endif %}
        </div>
    </center>
</body>
</html>